@import '../../styles/propertySets.css';

.root {
  position: relative;
}

.input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;

  /* Display the "check" when checked */
  &:checked + label .checked {
    display: inline;
  }

  /* Highlight the borders if the checkbox is hovered, focused or checked */
  &:hover + label .notChecked,
  &:hover + label .required,
  &:focus + label .notChecked,
  &:focus + label .required,
  &:checked + label .notChecked,
  &:checked + label .required {
    stroke: var(--matterColorDark);
  }

  /* Hightlight the text on checked, hover and focus */
  &:focus + label .text,
  &:hover + label .text,
  &:checked + label .text {
    color: var(--matterColorDark);
  }
}

.label {
  display: flex;
  align-items: center;
  padding-top: 6px;
}

.radioButtonWrapper {
  /* This should follow line-height */
  height: 32px;
  margin-top: -2px;
  margin-right: 12px;
  align-self: baseline;

  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.checked {
  display: none;
  stroke: var(--marketplaceColor);
  fill: var(--marketplaceColor);
}

.notChecked {
  stroke: var(--matterColorAnti);
  &:hover {
    stroke: pink;
  }
}

.required {
  stroke: var(--attentionColor);
  &:hover {
    stroke: pink;
  }
}

.text {
  @apply --marketplaceListingAttributeFontStyles;
  color: var(--matterColor);
  margin-top: -1px;
  margin-bottom: 1px;
  cursor: pointer;
}
.inputCheck {
  -webkit-appearance: none; /* Remove default styling */
  -moz-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border: 2px solid var(--marketplaceColor); /* Border color for the radio button */
  border-radius: 50%; /* Make it round */
  outline: none;
  cursor: pointer;
  position: relative;
  background-color: white; /* Ensure the background is visible */
}

.inputCheck:checked {
  border: 2px solid var(--marketplaceColor); /* Maintain border color */
}

.inputCheck:checked::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background: var(--marketplaceColor);
  border-radius: 50%;
  position: absolute;
  top: 3px; /* Center the inner circle */
  left: 3px; /* Center the inner circle */
}

.inline {
  display: flex;
  align-items: center;
}

.label {
  margin-left: 8px; /* Adjust spacing as needed */
}

.text {
  display: inline-block;
  vertical-align: middle;
}
